<!DOCTYPE html>
<html>
  <head>
  <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1>Nobolog App</h1>
    <p>
      This is the home page for the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
  </body>
</html>