<% if logged_in? %>
  <div class="row login_home">
    <div class="col-sd-6">
      <h3>完登記録(フォローユーザ)</h3>
      <%= render 'shared/following_log' %>
    </div>
  </div>
<% else %>
  <div class="cover">
    <div class="text-center">
      <h1>Nobolog</h1>
      <p>記録に残して、さらなる高みへ</p>
    </div>
  </div>
<% end %>