<h1>Nobolog</h1>

<p>こんにちは <%= @user.name %>さん,</p>

<p>Nobologへようこそ！<br>
下記リンクをクリックすると、メールアドレスの確認が完了します。
</p>

<%= link_to "メールアドレス認証", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>