| こんにちは 
= @user.name
| さん パスワードを再設定するには以下のリンクをクリックしてください 
= edit_password_reset_url(@user.reset_token, email: @user.email)
|  このリンクの有効期限は2時間です。 パスワードの再設定をされない場合、このメールは無視してください。 その場合、パスワードは現在設定されているもののままです。
