<% provide(:title, 'ユーザ一覧') %>
<h1>ユーザ一覧</h1>

<%= will_paginate %>

<ul class="users user_info">
  <% @users.each do |user| %>
    <li>
      <!--ユーザごとに設定した画像を表示する-->
      <img src="/assets/kaburikko1"></p>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>