- provide(:title, "マイページ")
.row
  aside.col-md-4
    section.user_info
      h1
        img.avater[src="/assets/kaburikko1"]
      p
        = @user.name
    section.stats
      = render 'shared/stats'
  .col-md-8
    = render 'follow_form' if logged_in?
    - if @user.records.any?
      h3
        | マイ完登記録 (
        = @user.records.count
        | )
      ol.records
        = render @records
      = will_paginate @records
