<% provide(:title, "マイページ") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <!--ユーザごとに設定した画像を表示する-->
        <img src="/assets/kaburikko1"></p>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>