= form_with(model: @record, local: true) do |f|
  = f.label :gym_name
  = f.text_field :gym_name, value: @gym_name, readonly: true, placeholder: "例）Nobolog 東京店", class: 'form-control'
  p
    | 別のジムで記録する場合はこちら⇨
    = link_to "ジム選択", gyms_path
  = f.label :grade
  = f.select :grade, Grade.pluck(:name)
  = f.label :challenge
  = f.text_field :challenge, placeholder: "例）1番、スラブの四角、100°の棒など", class: 'form-control'
  = f.label :strong_point
  .custom-control.custom-switch
    = f.check_box :strong_point, class:"custom-control-input", id:"customSwitch1"
    = f.label :strong_point, "1度目のトライでクリアした場合にチェック", class:"custom-control-label", for:"customSwitch1"
  span.picture
    = f.label :picture
    span.optional
      | 任意
    = f.file_field :picture
  = f.submit "登録", class: "btn btn-primary"
