<%= link_to image_tag("/assets/kaburikko1"), current_user %>
<div class="user_basic_info">
  <h1><%= current_user.name %></h1>
  <span><%= link_to "マイページ", current_user %></span>
  <span>投稿数 <%= current_user.microposts.count %></span>
</div>