<li id="record-#{record.id}", class=record >
= link_to image_tag("/assets/kaburikko1"), record.user, class: "avater"
span.user
  = link_to record.user.name, record.user
.content
  = record.gym.name
  = record.grade.name
  = record.challenge
  = "good" if record.strong_point == "1"
  = image_tag record.picture.url if record.picture?
span.timestamp
  = record.created_at
  <div id="likes_buttons_#{record.id}">
    = render partial: 'likes/like', locals: { record: record, likes: @likes}
  </div>
  - if current_user?(record.user)
    = link_to "削除", record, method: :delete, data: { confirm: "本当に削除しますか?" }
