li#micropost-
= micropost.id
  .micropost 
= link_to image_tag(micropost.user.picture.url), micropost.user, class: "avater"
span.user
  = link_to micropost.user.name, micropost.user
span.content
  = micropost.content
  = image_tag micropost.picture.url if micropost.picture?
span.timestamp
  = micropost.created_at
  - if current_user?(micropost.user)
    = link_to "削除", micropost, method: :delete, data: { confirm: "本当に削除しますか?" }
