.container-fluid {
  padding: 0;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

//application.html.rb
.navbar {
  padding: 0;
}

#logo {
  font-size: 28px;
}

.flash_message {
  margin: 20px 10% 0 10%;
}

//_footer.html.html.erb

footer {
  a {
    color: black;
    &:hover {
      color: rgb(24, 188, 156);;
    }
  }
  border-top: 1px solid #eaeaea;
  margin-top: 45px;
  width: 100%;
}

//home.html.erb

.cover {
  background-image: url(/assets/bouldering_image.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  
  //文字を上下左右中央寄せ
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

.login_home {
  justify-content: center;
  .user_info {
    margin-top: 20px;
  
    .user_item {
      display: flex;
      // justify-content: center;
      align-items: center;
      .avater_home {
        img {
          overflow: auto;
          float: left;
          width: 100px;
          height: 100px;
          border: 2px solid #eee;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
  }
}

/* miscellaneous */

.debug_dump {
  background-color: $gray-medium-light;
  padding: 20px;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 10px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid e8e8e8;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.users.follow {
  padding: 0;
}

/*プロフィール画像表示*/

.user_info img {
  overflow: auto;
  width: 100px;
  height: 100px;
  border: 2px solid #eee;
  border-radius: 50%;
  margin: 0;
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #D3D3D3;
    display: block;
    margin-left: 60px;
  }
  .avater {
    img {
      float: left;
      width: 60px;
      height: 60px;
      border: 2px solid #eee;
      border-radius: 50%;
      margin: 0;
      margin-right: 10px;
    }
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.center {
  h1 {
    text-align: center;;
  }
  margin: 0 auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  input {
    @extend .is-invalid;
  }
  .form-control {
    color: red;
  }
}

.checkbox {
  margin-bottom: 10px;
  span {
    margin-left: 5px;
    font-weight: normal;
  }
}

#remember-me-text {
  font-size: 0.85rem;
}

#session_remember_me {
  width: auto;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-600;
  }
}

iframe {
  height: 500;
  width: 900;
}