.container-fluid {
  padding: 0;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$border-color: #e8e8e8;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

//application.html.rb
.navbar {
  padding: 0;
}

#logo {
  font-size: 28px;
}

.flash_message {
  margin: 20px 10% 0 10%;
}

//_footer.html.html.erb

footer {
  a {
    color: black;
    &:hover {
      color: rgb(24, 188, 156);;
    }
  }
  border-top: 1px solid #eaeaea;
  margin-top: 45px;
  width: 100%;
}

//avater

.avater {
  img {
    float: left;
    width: 60px;
    height: 60px;
    border: 2px solid #eee;
    border-radius: 50%;
    margin: 0;
    margin-right: 10px;
  }
}

/* miscellaneous */

.debug_dump {
  background-color: $gray-medium-light;
  padding: 20px;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 10px;
    text-align: center;
  }
  section {
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    p {
      margin: 4px;
    }
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  text-align: center;
  a {
    padding: 0 10px;
    border-left: 1px solid e8e8e8;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
}

.users.follow {
  padding: 0;
}

/*プロフィール画像表示*/

.user_info img {
  overflow: auto;
  width: 100px;
  height: 100px;
  border: 2px solid #eee;
  border-radius: 50%;
  margin: 0;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.center {
  h1 {
    text-align: center;
  }
  margin: 0 auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  input {
    @extend .is-invalid;
  }
  .form-control {
    color: red;
  }
}

.checkbox {
  margin-bottom: 10px;
  span {
    margin-left: 5px;
    font-weight: normal;
  }
}

#remember-me-text {
  font-size: 0.85rem;
}

#session_remember_me {
  width: auto;
}

iframe {
  height: 500;
  width: 900;
}

/* gym index */

.gray {
  color: $gray-600;
}

.hidden {
  display: none;
}

#header {
  position: fixed;
  z-index: 5;
}

#content {
  padding-top: 52.38
}

.form-control, .form-control:focus{
  color: black;
}

.search-window {
  margin-right: 10px;
  margin-left: 10px;
}

.page-title {
  padding:10px;
  text-align: center;
}

/* required form mark */
.required {
  color: #fff;
  background: #dc2000;
  padding: 2px;
  margin-left: 1em;
  font-size: 12px;
}