.sp-nav {
  display: none;
}

@media screen and (max-width: 768px) {
  .pc-nav {
    display: none;
 }

  #hamburger {
    position: relative;
    display: block;
    width: 25px;
    height: 20px;
    margin: 0 0 0 auto;
    z-index: 10;

    span {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transform: translateY(-50%);
    }
  }

  #hamburger::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    z-index: 10;
  }

  #hamburger::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    z-index: 10;
  }

  .sp-nav {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    display: block;
    background: rgba(0, 0, 0, .8);
    transition: all .2s ease-in-out;
    opacity: 0;
    transform: translateY(-100%);

    ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    li {
      margin: 0;
      padding: 0;

      span {
        font-size: 15px;
        color: #fff;
      }

      a, span {
        display: block;
        padding: 20px 0;
      }
    }
  }
  .sp-nav .close {
    position: relative;
    padding-left: 20px;
    z-index: 10;
  }

  .sp-nav .close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate( 45deg );
    z-index: 15;
  }

  .sp-nav .close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate( -45deg );
    z-index: 10;
  }

  .toggle {
    transform: translateY( 0 );
    opacity: 1;
  }
}