.first-clear {
  margin-bottom: 30px;
}

.record-form {
  padding: 25px 30px 20px 30px;
  border-top: solid 1px #ccc
}

.first-clear {
  margin-bottom: 15px;
}

.required {
  color: #fff;
  background: #dc2000;
  padding: 2px;
  margin-left: 1em;
  // vertical-align: middle;
  font-size: 12px;
}