.second-paginate {
  margin-top: 16px;
}

.user-index-info {
  display: flex;
  flex-direction: row;
  height: 120px;
}

.user-index-name {
  margin: 20px 0 0 10px;
}

.user-del {
  .btn {
    padding: 0.2rem;
    font-size: 14px;
    line-height: 14px;
    margin-top: 15px;
  }
}

.follow_form {
  width: 290px
}

.users {
  list-style: none;
  margin: 0;
  li:first-child{
    border-top: 1px solid $border-color;
  }
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $border-color;
  }
}

#relationships-stats {
  margin-bottom: 30px;
}

.stats-index {
  text-align: left;
}

@media screen and (max-width: 575px) {
  .css-br::after {
    content: "\A";
    white-space: pre;
  }

  .stats-index {
    a {
      &:nth-child(2) {
        padding-left: 0;
        padding-right: 10px;
      }
    }
  }
}
