<footer>
  <div class="container">
    <div class="d-flex bd-highlight mb-3">
      <div class="mr-auto p-2 bd-highlight">
        <p class="nav-link d-flex justify-content-start">&copy; 2019<script>new Date().getFullYear()>2019&&document.write("-"+new Date().getFullYear());</script> Nobolog.</p>
      </div>
      <div class="p-2 bd-highlight">
        <%= link_to "使い方", help_path, class: "nav-link d-flex justify-content-end" %>
      </div>
      <div class="p-2 bd-highlight">
        <%= link_to "お問い合わせ", contact_path, class: "nav-link d-flex justify-content-end"%>
      </div>
    </div>
  </div>
</footer>
