footer
  .container
    .d-flex.bd-highlight.mb-3
      .mr-auto.p-2.bd-highlight
        p.nav-link.d-flex.justify-content-start
          | © 2020 Nobolt All rights reserved.
      .p-2.bd-highlight
        = link_to "使い方", help_path, class: "nav-link d-flex justify-content-end"