<header class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
    <%= link_to "Nobolog", root_path, id: "logo", class: "navbar-brand header-logo" %>
    <div class="navbar-collapse collapse" id="navbarColor02" style="">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">お試し</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login">ログイン</a>
      </li>
      <li class="nav-item">
        <%= link_to "新規登録", signup_path, class: "nav-link" %>
      </li>
    </ul>
    </div>
  </nav>
</header>
